
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<div class="zoekveld">
@using (Html.BeginForm("Search", "SearchComponent"))
{
    @Html.TextBox("name")
    <input type="submit" value="Search" />
}

</div>
