@model IEnumerable<pcbuild.Models.SearchModels.ViewModelSearch>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@using (Html.BeginForm("Search", "SearchComponent"))
{
    @Html.TextBox("name")
    <input type="submit" value="Search" />
}

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>Prijs</td>
        <td>Webshop</td>
    </tr>

    @foreach (var item in Model)
    {
              <tr>
                <td>@item.Search_m.naam</td>
                <td>@item.Verkrijgbaar_m.prijs</td>
                <td>@item.Webshop_m.naam</td>
            </tr>
    }

</table>


