@model IEnumerable<pcbuild.Models.SearchModels.ViewModelSearch>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zoeken</h2>

<div class="zoekinput">
@using (Html.BeginForm("Search", "SearchComponent"))
{
    @Html.TextBox("name")
    <input type="submit" value="Search" />
}

</div>

<div class="zoeklijst">
<table>
    <tr style="height: 35px; font-weight: bold">
        <td>Naam</td>
        <td>Prijs</td>
        <td>Webshop</td>
    </tr>

    @foreach (var item in Model)
    {
              <tr>
                <td>@item.Search_m.naam</td>
                <td>@item.Verkrijgbaar_m.prijs</td>
                <td>@item.Webshop_m.naam</td>
            </tr>
    }

</table>

</div>
