@model IEnumerable<pcbuild.Models.ViewModel>

@{
    ViewBag.Title = "Behuizing";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}

<h2>Behuizingen</h2>

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>interfaces</td>
        <td>vormfactor</td>
        <td>vormvoeding</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Behuizing_test.naam</td> 
            <td>@item.Behuizing_test.interfaces</td>
            <td>@item.Behuizing_test.vormfactor</td>
            <td>@item.Behuizing_test.vormvoeding</td>

        </tr>
    }
