@{
    ViewBag.Title = "Over ons";
    ViewBag.Message = "PCbuild.nl - your pc in minutes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>Door het bedrijf dat U de Android sensatie My Watchlist bracht, komt nu Pcbuild.nl. <br />
    Pcbuild.nl is een webapplicatie die de gebruiker instaat stelt op heel gemakkelijk een werkende pc te bouwen.<br />
    <br />
    Een paar van de top functies zijn:</p>
<br />
<ul>
    <li>Gemakkelijk je eigen werkende pc bouwen.</li>
    <li>Gemakkelijk naar componenten zoeken.</li>
    <li>Gemakkelijk een account aanmaken.</li>
    <li>Gemakkelijk je lijst uitprinten.</li>
</ul>
