@model IEnumerable<pcbuild.Models.Opslag_Model>

@{
    ViewBag.Title = "Behuizing";
    Layout = "~/Views/Shared/_LayoutController.cshtml";
}

<h2>Behuizingen</h2>

<table style="background-color:lightpink; border:solid 2px black;">
    <tr>
        <td>Naam</td>
        <td>interfaces</td>
        <td>vormfactor</td>
        <td>vormvoeding</td>
        <td>Prijs</td>
        <td>url</td>
        <td>webshop</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HD_V_ALL.Harddisk_all.naam</td>
       </tr>
        <tr>
            <td>@item.SSD_V_ALL.SSD_all.naam</td>
        </tr>
    }
</table>

