@{
    ViewBag.Title = "Home Page";
}

<div id="home_index_main">
    <h1 id="home_index_main_h1">Start nu met het maken van je eigen PC</h1>
    <a href="@Url.Action("Reload", "Processor")">
        <button id="home_index_main_button" type="button">Bouw je eigen PC</button>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start met bouwen!</h2>
        <p>
            Bepaal zelf wat jouw pc moet kunnen.
            Wij hebben verschillende onderdelen geanalyseerd, zorgen dat alles met elkaar zal werken. 
            Kies zelf de onderdelen en betaal niet langer voor onderdelen die je eigenlijk niet nodig hebt. 
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Reload", "Processor")">Bouw nu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Over ons</h2>
        <p>
            Wij zijn een jong, innovatief bedrijf uit Rotterdam dat als doel heeft om de pc bouw industrie te revolutionaliseren.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Lees verder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>
            Maak je eigen account aan en neem je build mee waar je ook gaat. Je kan op elke pc, tablet en telefoon je builds bekijken en nieuwe build creëren.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Maak aan &raquo;</a></p>
    </div>
</div>