body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* eigen css*/

/* css navbar*/

.navbar-default {
  background-color: #F80000;
  border-color: #e7e7e7;
}

/* css main page */
#home_index_main{
    margin-left: -10%;
    width: 120%;
    height: 500PX;
    border:1px solid black;
    background-image:url("http://static.hdw.eweb4.com/media/wallpapers_1920x1080/vector/1/1/intricate-circuit-vector-hd-wallpaper-1920x1080-7156.jpg");
    overflow:hidden;
    background-size:cover;
    background-position:center center;
    text-align:center;
}

#home_index_main_h1{
    font-size: 300%;
    margin-top: 300px;
    color: white;
}

#home_index_main_button{
    margin-top: 25px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border: 0px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #00aeff;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

#home_index_main_button:hover {
  background: #119ced;
  text-decoration: none;
}




