body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* eigen css*/

/* css navbar*/

.navbar-default {
  background-color: #F80000;
  border-color: #e7e7e7;
}

/* css main page */
#home_index_main{
    margin-left: -10%;
    width: 120%;
    height: 500PX;
    border:1px solid black;
    background-image:url("http://static.hdw.eweb4.com/media/wallpapers_1920x1080/vector/1/1/intricate-circuit-vector-hd-wallpaper-1920x1080-7156.jpg");
    overflow:hidden;
    background-size:cover;
    background-position:center center;
    text-align:center;
}

#home_index_main_h1{
    font-size: 300%;
    margin-top: 300px;
    color: white;
}

#home_index_main_button{
    margin-top: 25px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border: 0px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #00aeff;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

#home_index_main_button:hover {
  background: #119ced;
  text-decoration: none;
}

/* css progress menu */

ol.progtrckr {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    width: 14.28%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #00aeff;
}

ol.progtrckr li.progtrckr-current {
    color: black;
    font-weight:bold;
    border-bottom: 4px solid #00aeff;
}

ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #00aeff;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

ol.progtrckr li.progtrckr-current:before {
    content: "\039F";
    color: #00aeff;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

/* css filters*/

div.filters{
    border: 1px solid blue;
    width: 12.5%;
    float: left;
}

/* css componenten*/

div.componenten{
    border: 1px solid green;
    width: 62.5%;
    float:left;
    margin-left: 2.5%;
}

/* css lijst*/

div.lijst{
    border: 1px solid red;
    width: 20%;
    float: left;
    margin-left: 2.5%;
}

/* css componenten_table*/

table.componenten_table{
    margin-left: auto;
    margin-right: auto;
}

.componententr{
    height: 30px;
    border-bottom: thin dotted #00aeff;
}


.componententr:hover{
    border-bottom: thin solid #00aeff;
    border-top: thin solid #00aeff;
    color: #00aeff;
}